$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$MediumGrey2: hsl(217, 6%, 41%);
$DarkBlue: hsl(213, 19%, 18%);
$DarkBlue2: hsl(214, 14%, 20%);
$VeryDarkBlue: hsl(216, 12%, 8%);